%p
  %h1
    = @article.title
%p
  = @article.text
  

.panel.panel-default
  .panel-heading
    %h3.panel-title Comments
  .panel-body
    = render @article.comments
- if user_signed_in?
  %h2 Add a comment:
  = render 'comments/form'
= link_to 'Back', articles_path
- if can? :manage, @article
  |
  = link_to 'Edit', edit_article_path(@article)
