.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => '/'} Home page
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "Article list", '/articles'
        - if user_signed_in?
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
          - if can? :manage, User
            %li= link_to "User Management", management_user_path
          - if can? :manage, Article
            %li= link_to "Article Management", management_article_path
        - else
          %li= link_to "Sign in",  new_user_session_path, method: :new
